{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
    <link ref="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="spacing">
    <div class="row">
        {% for object in object_list %}
        <div class="col-lg-4 col-md-4 col-sm-6">
            {% include 'search/cardSnippet.html' with object=object %}                
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
