{% extends 'base.html' %}
{% block extra %}
<style>
.card-a {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-top: 200px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card-a button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card-a button:hover {
  opacity: 0.7;
}
</style>
{% endblock %}

{% block content %}
<div class="card-a">
  <h1>{{object.title}}</h1>
  <p class="price">Release Year: {{object.release_year}}</p>
  {% if object.funfacts.exits %}
    <p>{{object.funfacts}}</p>
  {% endif %}
  <strong>Writer: </strong>{{object.writer}}<br>
  <strong>Director: </strong>{{object.director}}<br>
  <strong>Production: </strong>{{object.productionCompany}}
  <p><button>{{object.location}}</button></p>
</div>
{% endblock %}